<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RainmeterStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <RainmeterStudio.Properties.Settings>
            <setting name="Command_ProjectCreateCommand_Shortcut" serializeAs="String">
                <value>Ctrl+Shift+N</value>
            </setting>
            <setting name="Command_ProjectPanel_RefreshCommand_Shortcut"
                serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="Command_DocumentCreateCommand_Shortcut" serializeAs="String">
                <value>Ctrl+N</value>
            </setting>
            <setting name="Command_ProjectOpenCommand_Shortcut" serializeAs="String">
                <value>Ctrl+Shift+O</value>
            </setting>
            <setting name="Command_DocumentCloseCommand_Shortcut" serializeAs="String">
                <value>Ctrl+W</value>
            </setting>
            <setting name="MainWindow_Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindow_Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainWindow_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindow_Left" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MainWindow_Top" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CreateProjectDialog_RecentLocations" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateProjectDialog_SavedLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateProjectDialog_CreateDirectoryCheckbox" serializeAs="String">
                <value>True</value>
            </setting>
        </RainmeterStudio.Properties.Settings>
    </userSettings>
</configuration>
